<?xml version="1.0"?>
<config>
 <tape name="tape">
  <!-- we have a local renderer -->
  <local reverse="true" />

  <bar name="prod_new_rt" color="#ffffff" length="20" max="20">
   <colorMapper zebra="true">
    <range upperLimit="10" color="#001020" />
    <range upperLimit="18" color="#202000" />
    <range color="#300000" />
   </colorMapper>
  </bar>

  <marker colorOff="#000008" colorOn="black" />

  <bar name="adculsplunkp1-cpu" length="10" max="100">
   <colorMapper>
    <range upperLimit="70" color="#101010" />
    <range upperLimit="90" color="#202000" />
    <range color="#300000" />
   </colorMapper>
  </bar>

  <marker colorOff="#000008" colorOn="black" />

  <bar name="test" length="5" max="100">
   <colorMapper>
    <range upperLimit="70" color="#101010" />
    <range upperLimit="90" color="#202000" />
    <range color="#300000" />
   </colorMapper>
  </bar>

  <marker colorOff="#000008" colorOn="black" />

  <bar name="b" length="3" />

  <marker colorOff="#000008" colorOn="black" />

  <bar name="wegscd-linux-cpu" length="5" max="100">
   <colorMapper>
    <range upperLimit="70" color="#101010" />
    <range upperLimit="90" color="#202000" />
    <range color="#300000" />
   </colorMapper>
  </bar>

  <marker colorOff="#000008" colorOn="black" />

  <static length="1" color="#101010" />
  <static length="1" color="#100000" />
  <static length="1" color="#001000" />
  <static length="1" color="#000010" />

  <!-- gotta be a little funny -->
  <marker colorOn="#000800" colorOff="#080000" period="1000" duty="0.5" />
 </tape>
</config>
